In [5]:
import pandas as pd

In [98]:
df = pd.read_csv("solicitudes_credito.csv", sep=";")
dftmp = df.copy()

In [99]:
display(
    dftmp,
    dftmp.dtypes
)

,Unnamed: 0,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"$ 7,000,000.00",microempresarial
2,2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...,...
10915,10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

Unnamed: 0                  int64
sexo                       object
tipo_de_emprendimiento     object
idea_negocio               object
barrio                     object
estrato                     int64
comuna_ciudadano          float64
fecha_de_beneficio         object
monto_del_credito          object
línea_credito              object
dtype: object

In [100]:
# Limpieza de campo 'Sexo'
dftmp.sexo = dftmp.sexo.str.lower()
dftmp.sexo = dftmp.sexo.astype('category')
display(dftmp.sexo)

0        masculino
1        masculino
2        masculino
3        masculino
4        masculino
           ...
10915     femenino
10916     femenino
10917     femenino
10918     femenino
10919     femenino
Name: sexo, Length: 10920, dtype: category
Categories (2, object): ['femenino', 'masculino']

In [101]:
# Limpieza de campo 'Tipo de Emprendimiento'
dftmp.tipo_de_emprendimiento = dftmp.tipo_de_emprendimiento.str.lower()
dftmp.tipo_de_emprendimiento = dftmp.tipo_de_emprendimiento.astype('category')
display(dftmp.tipo_de_emprendimiento)

0         comercio
1         comercio
2         comercio
3         servicio
4         servicio
           ...
10915    industria
10916     comercio
10917     comercio
10918     comercio
10919     servicio
Name: tipo_de_emprendimiento, Length: 10920, dtype: category
Categories (4, object): ['agropecuaria', 'comercio', 'industria', 'servicio']

In [102]:
# Categorizar columna 'Estrato'
dftmp.estrato = dftmp.estrato.astype('category')
display(dftmp.estrato)

0        1
1        2
2        3
3        2
4        2
        ..
10915    1
10916    2
10917    2
10918    3
10919    2
Name: estrato, Length: 10920, dtype: category
Categories (4, int64): [0, 1, 2, 3]

In [ ]:
# TODO: Limpiar columna 'Idea Negocio'
dftmp.idea_negocio

In [ ]:
# TODO: Limpiar columna 'Barrio'
dftmp.barrio

In [111]:
# Pasar columna 'Comuna Ciudadano' a entero
# dftmp.comuna_ciudadano = dftmp.comuna_ciudadano.apply(round, 2)
# dftmp.comuna_ciudadano = dftmp.comuna_ciudadano.astype('category')
# dftmp.comuna_ciudadano
dftmp.comuna_ciudadano.astype('int')

0         3
1        12
2        16
3         7
4        13
         ..
10915     1
10916     2
10917     8
10918     5
10919     2
Name: comuna_ciudadano, Length: 10920, dtype: int64

In [124]:
# Limpiar columna 'Fecha de beneficio'
from dateutil.parser import parse

display(dftmp.fecha_de_beneficio)
dftmp.fecha_de_beneficio = dftmp.fecha_de_beneficio.apply(parse)
display(dftmp.fecha_de_beneficio)

0        28/12/2017
1        16/03/2018
2        2018/02/14
3         8/09/2016
4        20/12/2016
            ...
10915    22/06/2018
10916     1/04/2019
10917    22/05/2018
10918    27/02/2019
10919     8/06/2017
Name: fecha_de_beneficio, Length: 10920, dtype: object

0       2017-12-28
1       2018-03-16
2       2018-02-14
3       2016-08-09
4       2016-12-20
           ...
10915   2018-06-22
10916   2019-01-04
10917   2018-05-22
10918   2019-02-27
10919   2017-08-06
Name: fecha_de_beneficio, Length: 10920, dtype: datetime64[ns]

In [130]:
# Limpiar columna 'Monto de beneficio'
display(dftmp.monto_del_credito)
dftmp.monto_del_credito = dftmp.monto_del_credito.apply(lambda x: float(x.strip('$').replace(',', '')))
display(dftmp.monto_del_credito)

0               7000000
1        $ 7,000,000.00
2               7800000
3               1500000
4               3000000
              ...
10915           1000000
10916           7000000
10917           7812000
10918           8281000
10919          30000000
Name: monto_del_credito, Length: 10920, dtype: object

0         7000000.0
1         7000000.0
2         7800000.0
3         1500000.0
4         3000000.0
            ...
10915     1000000.0
10916     7000000.0
10917     7812000.0
10918     8281000.0
10919    30000000.0
Name: monto_del_credito, Length: 10920, dtype: float64

In [132]:
# Limpieza de campo 'Línea de credito'
display(dftmp.línea_credito)
dftmp.línea_credito = dftmp.línea_credito.str.lower()
dftmp.línea_credito = dftmp.línea_credito.astype('category')
display(dftmp.línea_credito)

0        microempresarial
1        microempresarial
2        microempresarial
3        microempresarial
4        microempresarial
               ...
10915    microempresarial
10916    microempresarial
10917    microempresarial
10918    microempresarial
10919    empresarial ed.
Name: línea_credito, Length: 10920, dtype: object

0        microempresarial
1        microempresarial
2        microempresarial
3        microempresarial
4        microempresarial
               ...
10915    microempresarial
10916    microempresarial
10917    microempresarial
10918    microempresarial
10919    empresarial ed.
Name: línea_credito, Length: 10920, dtype: category
Categories (11, object): ['agropecuaria', 'ayacucho formal', 'credioportuno', 'empresarial ed. ', ..., 'juridica y cap.semilla', 'microempresarial', 'soli-diaria', 'solidaria']

In [131]:
display(
    dftmp,
    dftmp.dtypes
)

,Unnamed: 0,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,0,masculino,comercio,charcuteria,manrique central no. 2,1,3.0,2017-12-28,7000000.0,microempresarial
1,1,masculino,comercio,distribuidora de,santa lucia,2,12.0,2018-03-16,7000000.0,microempresarial
2,2,masculino,comercio,tienda,belen,3,16.0,2018-02-14,7800000.0,microempresarial
3,3,masculino,servicio,organización y,robledo,2,7.0,2016-08-09,1500000.0,microempresarial
4,4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,2016-12-20,3000000.0,microempresarial
...,...,...,...,...,...,...,...,...,...,...
10915,10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,2018-06-22,1000000.0,microempresarial
10916,10916,femenino,comercio,variedades,villa del socorro,2,2.0,2019-01-04,7000000.0,microempresarial
10917,10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,2018-05-22,7812000.0,microempresarial
10918,10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,2019-02-27,8281000.0,microempresarial
10919,10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,2017-08-06,30000000.0,empresarial ed.

Unnamed: 0                         int64
sexo                            category
tipo_de_emprendimiento          category
idea_negocio                      object
barrio                            object
estrato                         category
comuna_ciudadano                 float64
fecha_de_beneficio        datetime64[ns]
monto_del_credito                float64
línea_credito                     object
dtype: object